#calculator {
  font-family: Arial, sans-serif;
  background-color: rgb(163, 163, 163);
  border-radius: 5px;
  max-width: 300px;
}

#keys {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(4, 1fr);
  padding: 15px;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: none;
  background-color: rgb(185, 185, 185);
  color: rgb(12, 12, 12);  
  font-size: 32px;
  font-weight: bold;
}
